@inherits ViewSequentialBase

@if (!IsEditing)
{
	<ListView TItem="ProgramTemplateModel" Items="@Program.Templates">
		<ItemRenderer>
			<MudText Typo="Typo.body2" Color="Color.Tertiary">Day @(context.RowIndex + 1)</MudText>
			<MudLink Class="d-block" Href="@($"/templates/{context.Item.WorkoutTemplateSid}")">@context.Item.WorkoutTemplateName</MudLink>
		</ItemRenderer>
		<EmptyListRenderer>
			<MudText Class="mt-4">No workout templates have been added.</MudText>
		</EmptyListRenderer>
	</ListView>
}
else
{
	<SortableListView TItem="FormProgramTemplateModel" Items="@FormModel.Templates" AllowSort="true" DisableSort="@IsSaving" 
					  ToolbarPosition="ToolbarPositions.Top" ToolbarAlignment="HorizontalAlignment.Left"
					  SortOrderChanged="@HandleSortChanged">
		<ItemRenderer>
			<div class="d-flex flex-row gap-2 align-center">
				<div class="flex-grow-1">
					<MudText Typo="Typo.body2" Color="Color.Tertiary">Day @(context.RowIndex + 1)</MudText>
					<MudText>@context.Item.WorkoutTemplateName</MudText>
				</div>
				<div>
					<MudIconButton Icon="@Icons.Material.Filled.Delete" Disabled="@IsSaving" OnClick="@(() => HandleDeleteTemplateClicked(context.Item.Sid))" />
				</div>
			</div>
		</ItemRenderer>
		<EmptyListRenderer>
			<MudText Align="Align.Center" Class="mt-4">Add a workout template.</MudText>
		</EmptyListRenderer>
		<DraggableItemRenderer>
			<MudPaper Elevation="2" Class="py-2 px-4 my-2">
				<div class="d-flex flex-row gap-4 align-center">
					<div>
						<MudIcon Icon="@Icons.Material.Filled.DragIndicator" />
					</div>
					<div>
						<MudText Typo="Typo.body1">@context.WorkoutTemplateName</MudText>
					</div>
				</div>
			</MudPaper>
		</DraggableItemRenderer>
		<ListTools>
			<MudButton StartIcon="@Icons.Material.Filled.AddCircle" Disabled="@IsSaving" OnClick="@(() => HandleAddTemplateClicked())">Add Template</MudButton>
		</ListTools>
	</SortableListView>
}
